<div id="lBDiv" *ngIf="logIn">
    <h2 id="lpage">Login</h2>
    <table id="ltable">
      <tr>
        <th>Email:</th>
        <td><input type="text" [(ngModel)]="email"></td>
      </tr>
      <tr>
        <th>Password:</th>
        <td><input type="password" id="iPassword" [(ngModel)]="password"></td>
      </tr>
      <tr>
        <td colspan="2">
          <button id="lbutton" (click)="Login()">Login</button>
        </td>
      </tr>
      <tr id="nRegister">
        <td colspan="2" (click)="Register()">New Registration? Click here</td>
      </tr>
    </table>
    <div class="errors">{{ error }}</div>
  </div>
  <app-registration *ngIf="!logIn" (LoginClick)="receiveFromChild($event)"></app-registration>
  